body {
    display: flex;
    
   }
.sidebar {
    width: 290px;
    background-color: #2c6e49;
    padding: 10px;
    height: 200vh;
    overflow-y: hidden; 
}
.content {
    flex-grow: 1;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar a {
    color: white;
    text-decoration: none;

}
 

.sidebar a {
    display: inline-block; 
    width: 100%; 
    padding: 5px 50px; 
    box-sizing: border-box; 
    text-align: left; 
}
.container {
    max-width: 800px; 
    margin: 0 auto; 
}




