{% extends 'pages/base.html' %}
{% block content %}
<h3>ADD MATERIAL</h3>

    
    <form method="POST" action="" class="add-material-form">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}"
                   value="{{ form.name.value|default_if_none:'' }}" class="form-control" required="True">
        </div>

        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
            <input type="number" name="{{ form.quantity.name }}" id="{{ form.quantity.id_for_label }}"
                   value="{{ form.quantity.value|default_if_none:'' }}" class="form-control" required="True">
        </div>
        
        <div class="form-group">
            <label for="{{ form.unit.id_for_label }}">Unit:</label>
            <select name="{{ form.unit.name }}" id="{{ form.unit.id_for_label }}" class="form-select" aria-label="Select unit" required="True">
                <option value="" selected>Select a unit</option> 
                {% for value, label in form.unit.field.choices %}
                    <option value="{{ value }}" {% if value == form.unit.value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="{{ form.date_purchased.id_for_label }}">Date Purchased:</label>
            <input type="date" name="{{ form.date_purchased.name }}" id="{{ form.date_purchased.id_for_label }}"
                   value="{{ form.date_purchased.value|default_if_none:'' }}" class="form-control" required="True">
        </div>
        
        <br>
        
        <button type="submit" class="btn btn-primary">Add Material</button>
    </form>
    

{% endblock %}