{% extends 'pages/base.html' %}
{% block content %}
<h3>ATTENDANCE LIST</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Worker</th>
                <th>Date</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <td>{{ attendance.worker }}</td>
                <td>{{ attendance.date }}</td>
                <td>{{ attendance.time_in }}</td>
                <td>{{ attendance.time_out }}</td>
                <td>
                    <a href="{% url 'edit-attendance' attendance.id %}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}