{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construction site</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block title %}{% endblock %}
</head>
<body>

    <div class="sidebar">
        <ul id="sidebarList">
            
                <li><a href="{% url 'worker' %}">All workers</a></li>
                <li><a href="{% url 'addworkers' %}">Add workers</a></li>
                <li><a href="{% url 'addmaterials' %}">Add materials</a></li>
                <li><a href="{% url 'materials' %}">All materials</a></li>
                <li><a href="{% url 'attendance' %}">Add attendance</a></li>
                <li><a href="{% url 'attendance-list' %}">Attendance list</a></li>
                

        </ul>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
        
    
   
</body>
</html>
