{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Material Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome to Material Tracker</h1>
        <a href="{% url 'materials' %}" class="btn btn-primary">Click to start</a>
    </div>
</body>
</html>
