{% extends 'pages/base.html' %}
{% block content %}
<h3>ALL WORKERS</h3>
<div class="container">
    
    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Details</th>
                
            </tr>
        </thead>
        <tbody>
            {% for worker in workers %}
                <tr>
                    <td>{{ worker.first_name }}</td>
                    <td>{{ worker.last_name }}</td>
                    <td>{{ worker.phone_number }}</td>
                    <td>{{ worker.email }}</td>
                    <td>
                        <a href="{% url 'worker-detail' worker.id %}" class="btn btn-primary">Details</a>
                    </td>
                    
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
</div>
{% endblock %}